*.pyc
*.swp
__pycache__/
*.log
env/
node_modules/
sites/
*.db
*.sqlite
*.zip
*.tar.gz
*.sass-cache
*.egg-info/
*.env
*.DS_Store
*.pdf
npm-debug.log
*.conf
*.gz
*.tgz
bench-repo/
frappe-bench/
*.json

